*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/uploads
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb

## Environment normalization:
/.bundle
/vendor/bundle
.rvmrc
*.bowerrc
bower.json
.powenv
config/database.yml
*.env
