# TODO: Put your configurations here!!!
# TODO: Add two new files called "development.env" and if
# TODO:   it needed a "test.env" with the same keys

GMAIL_DOMAIN=gmail.com
GMAIL_USERNAME=your_gmail_name
GMAIL_PASSWORD=your_passwd

# keys from test app
FACEBOOK_TOKEN=token
FACEBOOK_SECRET=secret

TWITTER_ACCESS_TOKEN=access_token
TWITTER_ACCESS_SECRET=access_secret
TWITTER_CONSUMER_TOKEN=consumer_token
TWITTER_CONSUMER_SECRET=consumer_secret
